*.gem
*.rbc
.bundle
.config
.yardoc
.local
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
dump.rdb
.idea/




      web_craft_id: facebook_id,
      href: facebook_href,
      name: facebook_name,
      address: facebook_address,
      description: facebook_profile['description'],
